*.png
*.c
*.o
*.jdl2
*.jld2
*.dll


QuantumCumulants/Model7/solutions
QuantumCumulants/Model8/solutions
QuantumCumulants/Model9/solutions
QuantumCumulants/Modell0/solutions
QuantumCumulants/Modell1/solutions

QuantumCumulants/Model2/Cfunctions
QuantumCumulants/Model2/dispatcher.c
QuantumCumulants/Model2/dispatcher.o
QuantumCumulants/Model2/liballfuncs.dll
QuantumCumulants/Model2/objs.txt
QuantumCumulants/Model2/op_list.jdl2
QuantumCumulants/Model2/r0.jdl2
QuantumCumulants/Model2/Comparison_QC_QO/r0.jdl2
QuantumCumulants/Model2/Comparison_QC_QO/op_list.jdl2
QuantumCumulants/Model2/Comparison_QC_QO/liballfuncs.dll
QuantumCumulants/Model2/.vscode/settings.json
QuantumCumulants/Model2/Comparison_QC_QO/8_atoms/.vscode/settings.json
QuantumCumulants/Model2/Comparison_QC_QO/8_atoms/liballfuncs.dll
QuantumCumulants/Model2/Comparison_QC_QO/8_atoms/op_list.jdl2
QuantumCumulants/Model2/Comparison_QC_QO/8_atoms/r0.jdl2
QuantumCumulants/Model2/Comparison_QC_QO/8_atoms/Sol_QC_N_8
QuantumCumulants/Model2/Comparison_QC_QO/liballfuncs.dll
QuantumCumulants/Model2/Comparison_QC_QO/liballfuncs.dll
QuantumCumulants/Model2/Comparison_QC_QO/2_atoms/liballfuncs.dll
QuantumCumulants/Model2/Comparison_QC_QO/2_atoms/op_list.jdl2
QuantumCumulants/Model2/Comparison_QC_QO/2_atoms/r0.jdl2
QuantumCumulants/Model2/Comparison_QC_QO/2_atoms/Sol_QC_N_2
QuantumCumulants/Model2/Increasing_density_time_evolution/Cfunctions
QuantumCumulants/Model2/Increasing_density_time_evolution/Image_positions
QuantumCumulants/Model2/Increasing_density_time_evolution/op_list
QuantumCumulants/Model2/Increasing_density_time_evolution/r0
QuantumCumulants/Model2/Increasing_density_time_evolution/Brouillons
QuantumCumulants/Model2/Increasing_density_time_evolution/libs
QuantumCumulants/Model2/Increasing_density_time_evolution/sol
QuantumCumulants/Model2/Increasing_density_time_evolution/dispatcher.c
QuantumCumulants/Model2/Increasing_density_time_evolution/dispatcher.o
QuantumCumulants/Model2/Increasing_density_time_evolution/Makefile
QuantumCumulants/Model2/Increasing_density_time_evolution/objs.txt
QuantumCumulants/Model2/Increasing_density_time_evolution/QC_solve_vary_N.ipynb

QuantumCumulants/Model2/Steady_state/Cfunctions
QuantumCumulants/Model2/Steady_state/Brouillons
QuantumCumulants/Model2/Steady_state/dispatcher.c
QuantumCumulants/Model2/Steady_state/dispatcher.o
QuantumCumulants/Model2/Steady_state/objs.txt

QuantumCumulants/Model2/Steady_state/Increasing_density/Cfunctions
QuantumCumulants/Model2/Steady_state/Increasing_density/libs
QuantumCumulants/Model2/Steady_state/Increasing_density/op_list
QuantumCumulants/Model2/Steady_state/Increasing_density/dispatcher.c
QuantumCumulants/Model2/Steady_state/Increasing_density/dispatcher.o
QuantumCumulants/Model2/Steady_state/Increasing_density/Makefile
QuantumCumulants/Model2/Steady_state/Increasing_density/objs.txt

QuantumCumulants/Model2/Steady_state/50_atoms/Cfunctions
QuantumCumulants/Model2/Steady_state/50_atoms/subdispatchers
QuantumCumulants/Model2/Steady_state/50_atoms/subdispatchers_objs

QuantumCumulants/Model3/Cfunctions
QuantumCumulants/Model3/Increasing_density/Cfunctions
QuantumCumulants/Model3/Statistical_distributions/Cfunctions
QuantumCumulants/Model3/Statistical_distributions/Increasing_density/Cfunctions
QuantumCumulants/Model3/Statistical_distributions/Increasing_density/r0
/QuantumCumulants/Model10/solutions
/QuantumCumulants/Model11/solutions
/QuantumCumulants/Model5/solutions
